*.aux
*.glo
*.idx
*.log
*.out
*.toc
*.url
*.synctex.gz
*.pier.pdf
*.pier.md
*.pier.tex
*.pier.html
*.pillar.pdf
*.pillar.md
*.pillar.tex
*.pillar.html
*~
.DS_Store
/Pharo.changes
/Pharo.image
/pharo-vm
/pharo-ui
/vm.sh
/vm-ui.sh
/pharo
/pillar
/package-cache
stderr
stdout
/book-result/
/pillarPostExport.sh
